<html>
<head>
</head>
<body>
    <h1>Welcome to Movie Ratings</h1>
    <h2>Movies you've rated:</h2>
    {% if session['userid'] %}
        <table>
            <tr>
                <th>Movie Title</th>
                <th>Rating</th>
            </tr>
            {% for item in ratings_object %}
                <tr>
                    <td>{{ item.movie.name }}</td>
                    <td>{{ item.rating }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>